*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs

# Gradle / Kotlin
**/build/
.kotlin/

# Android Studio / IntelliJ
.idea/
!.idea/.gitignore
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/kotlinc.xml
!.idea/misc.xml
!.idea/vcs.xml
.idea/deploymentTargetSelector.xml

# Logs / temp
*.log
*.tmp
/.idea
/.idea
